@import './nullstyle.scss';
@import './fonts.scss';

// General styles //

%burger-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color:#372c3c;
    position: absolute;
}

%column-center-alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 14px;
    font-weight: 500;
    color: #8c9398;
}

.wrapper {
    font-family: 'GothamRounded';
}

.section-title {
    width: 490px;

    h2 {
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 2px;
        color: #353535;
        font-weight: 500;
        text-align: center;
    }
}

.decoration {
    display: flex;
    align-items: center;
    margin-top: 25px;

    img {
        margin: 0 35px;
    }

    hr {
        width: 100%;
        border-top: 2px dotted #d2d7dd;
    }
}

.item {
    text-align: center;

    h3 {
        font-size: 15px;
        color: #353535;
        font-weight: 500;
        text-transform: uppercase;
    }

    hr {
        width: 33px;
        height: 3px;
        background-color: #3dc9b3;
        margin: 0 auto;
    }
}

.social-bar {
    display: flex;
    justify-content: center;

    .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #242830;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;

        i {
            color: #fff;
            font-size: 16px;
        }
    }
}

// General styles end //

.header {
    width: 100%;
    height: 100vh;
    background: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 71.25%;
    height: 100%;
    margin: 0 auto;
}

.header__wrapper {
    position: relative;
    height: 100%;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
}

.burger-menu {
    width: 25px;
    height: 20px;
    position: relative;
    margin-top: 50px;
    cursor: pointer;

    span {
        @extend %burger-line;
        top: 9px;
    }

    &::before {
        content: '';
        @extend %burger-line;
        top: 0;
    }

    &::after {
        content: '';
        @extend %burger-line;
        bottom: 0;
    }
}

.header__title {
    @extend %column-center-alignment;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    h1 {
        font-size: 40px;
        text-transform: uppercase;
        color: #353535;
        letter-spacing: 12px;

        span {
            color: #a1a9b0;
        }
    }

    p {
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: normal;
        margin: 30px 0 65px;
    }

    a {
        font-size: 15px;
        letter-spacing: 2px;
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 5px;
        background-color: #3dc9b3;
        padding: 20px 40px;
        box-shadow: 0 5px 3px #309383;
    }
}

.intro {
    background-color: #f3f5f8;
}

.intro__wrapper {
    @extend %column-center-alignment;
    padding-top: 100px;

    p {
        text-align: center;
        width: 730px;
        margin: 65px 0 130px;
        line-height: 30px;

        span {
            color: #424242;
        }
    }
}

.services__wrapper {
    @extend %column-center-alignment;
    padding-top: 100px;
}

.services-items {
    display: flex;
    margin: 85px 0 120px;

    .item {
        width: 340px;

        &:nth-child(2) {
            margin: 0 10px;
        }
    }

    h3 {
        margin: 50px 0 25px;
    }

    p {
        margin-top: 30px;
        line-height: 20px;
        font-weight: normal;
    }
}

.counter {
    background: url('../img/counter-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(34, 33,43, 0.8);
        z-index: 5;
    }
}

.counter__wrapper {
    @extend %column-center-alignment;
    position: relative;
    z-index: 10;

    h2 {
        margin-top: 80px;
        font-size: 40px;
        letter-spacing: 10px;
        color: #ffffff;
        text-transform: uppercase;
        max-width: 590px;
        text-align: center;

        span {
            font-size: 25px;
            letter-spacing: 8px;
            line-height: 60px;
        }
    }
}

.circle-arrow {
    width: 43px;
    height: 43px;
    border-radius: 21px;
    background-color: #3dc9b3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 55px;

    i {
        color: #fff;
        font-size: 20px;
    }
}

.portfolio__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;

    .item {
        width: 360px;
        margin: 0 20px 75px;
    }

    p {
        font-weight: normal;
        margin-top: 30px;
    }

    h3 {
        margin: 40px 0 20px;
    }
}

.ignite {
    background-color: #242830;
}

.ignite__wrapper {

    padding: 100px 0;
    text-align: center;

    a {
        text-transform: uppercase;
        color: #fff;
        padding: 25px 40px;
        border: 1px solid #fff;
        font-size: 15px;
        letter-spacing: 2px;
    }
}

.team__wrapper {
    @extend %column-center-alignment;
    padding-top: 90px;
    padding-bottom: 170px;
}

.team-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .item {
        width: 360px;
        margin: 60px 30px;
    }

    h3 {
        margin: 40px 0 15px;
    }

    p {
        margin: 25px 0 30px;
    }
}
